# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: CI

on:
  workflow_dispatch:
    inputs:
      build_configuration:
        type: choice
        description: Build configuration
        options: 
        - Debug
        - Release
        required: true
        default: 'Debug'
      run_build:
        type: boolean
        description: Run build
        required: true
        default: true
      run_tests:
        type: boolean
        description: Run tests
        required: true
        default: true
      run_docker:
        type: boolean
        description: Run docker tests
        required: true
        default: true
      generate_assets:
        type: boolean
        description: Generate assets from test runs
        required: true
        default: false
      publish_testresults:
        type: boolean
        description: Publish test results
        required: true
        default: true
      run_sonarcloud:
        type: boolean
        description: Run SonarCloud
        required: true
        default: true
  push:
    branches:
      - 'master'
  pull_request:
    branches:
      - '**'

jobs:
  build:
    name: Build
    runs-on: windows-latest
    if: (github.event_name != 'workflow_dispatch' && true || inputs.run_build) == true
    permissions:
      id-token: write
      contents: read
      attestations: write
    steps:
      - name: Checkout
        uses: actions/checkout@main
        with:
          fetch-depth: 0
      - name: Setup .NET
        uses: actions/setup-dotnet@main
        with:
          dotnet-version: |
            8.x
            9.x
            10.x
          dotnet-quality: 'preview'
      - name: Setup .NET workload maui-android
        run: dotnet workload install maui-android
      - name: Setup .NET workload maui-ios
        run: dotnet workload install maui-ios
      - name: Setup .NET workload maui-maccatalyst
        run: dotnet workload install maui-maccatalyst
      - name: Setup .NET workload maui-windows
        run: dotnet workload install maui-windows
      - name: Setup .NET workload wasm-tools
        run: dotnet workload install wasm-tools
      - name: Restore
        run: dotnet restore src/PDFtoImage.Build.slnf
      - name: Build
        run: dotnet build src/PDFtoImage.Build.slnf -c ${{ github.event_name != 'workflow_dispatch' && 'Debug' || inputs.build_configuration }} -p:VersionSuffix=ci --no-restore
      - name: Pack
        run: dotnet pack src/PDFtoImage/PDFtoImage.csproj -c ${{ github.event_name != 'workflow_dispatch' && 'Debug' || inputs.build_configuration }} -p:VersionSuffix=ci --no-restore
      - name: Generate artifact attestation
        if: github.repository == 'sungaila/PDFtoImage' && github.ref == 'refs/heads/master'
        uses: actions/attest-build-provenance@main
        with:
          subject-path: src/PDFtoImage/bin/${{ github.event_name != 'workflow_dispatch' && 'Debug' || inputs.build_configuration }}/*.nupkg
      - name: Publish libraries
        uses: actions/upload-artifact@main
        with:
          name: Library assemblies
          path: |
            src/PDFtoImage/bin/${{ github.event_name != 'workflow_dispatch' && 'Debug' || inputs.build_configuration }}
            !**/*.nupkg
            !**/*.snupkg
          if-no-files-found: error
      - name: Publish NuGet packages
        uses: actions/upload-artifact@main
        with:
          name: NuGet packages
          path: |
            src/PDFtoImage/bin/${{ github.event_name != 'workflow_dispatch' && 'Debug' || inputs.build_configuration }}/*.nupkg
            src/PDFtoImage/bin/${{ github.event_name != 'workflow_dispatch' && 'Debug' || inputs.build_configuration }}/*.snupkg
          if-no-files-found: error
      - name: Publish tests
        uses: actions/upload-artifact@main
        if: success() && (github.event_name != 'workflow_dispatch' && true || inputs.run_tests) == true
        with:
          name: Test assemblies
          path: src/Tests/bin/${{ github.event_name != 'workflow_dispatch' && 'Debug' || inputs.build_configuration }}
          if-no-files-found: error
          retention-days: 1
          compression-level: 9
  test:
    permissions:
      contents: read
    name: Test (${{ matrix.os }})
    needs: build
    strategy:
      fail-fast: false
      matrix:
        os: [windows-2022, windows-2025, ubuntu-22.04, ubuntu-24.04, macos-13, macos-14, macos-15]
    runs-on: ${{ matrix.os }}
    if: success() && (github.event_name != 'workflow_dispatch' && true || inputs.run_tests) == true
    steps:
      - name: Setup .NET
        uses: actions/setup-dotnet@main
        with:
          dotnet-version: |
            8.x
            9.x
          dotnet-quality: 'ga'
      - name: Download test assemblies
        if: (success() || failure())
        uses: actions/download-artifact@main
        with:
          name: Test assemblies
      - name: .NET Framework 4.7.1
        if: runner.os == 'Windows' && (success() || failure())
        run: dotnet test net471/*.Tests.dll --logger trx --verbosity detailed --results-directory "${{ matrix.os }}/TestResults" ${{ (github.event_name == 'workflow_dispatch' && inputs.generate_assets) == true && '--settings net471/SaveOutputInGeneratedFolder.runsettings' || '' }}
      - name: .NET Framework 4.8.1
        if: runner.os == 'Windows' && (success() || failure())
        run: dotnet test net481/*.Tests.dll --logger trx --verbosity detailed --results-directory "${{ matrix.os }}/TestResults" ${{ (github.event_name == 'workflow_dispatch' && inputs.generate_assets) == true && '--settings net481/SaveOutputInGeneratedFolder.runsettings' || '' }}
      - name: .NET 8
        if: success() || failure()
        run: dotnet test net8.0/*.Tests.dll --logger trx --verbosity detailed --results-directory "${{ matrix.os }}/TestResults" ${{ (github.event_name == 'workflow_dispatch' && inputs.generate_assets) == true && '--settings net8.0/SaveOutputInGeneratedFolder.runsettings' || '' }}
      - name: .NET 9
        if: success() || failure()
        run: dotnet test net9.0/*.Tests.dll --logger trx --verbosity detailed --results-directory "${{ matrix.os }}/TestResults" ${{ (github.event_name == 'workflow_dispatch' && inputs.generate_assets) == true && '--settings net9.0/SaveOutputInGeneratedFolder.runsettings' || '' }}
      - name: .NET 10
        if: success() || failure()
        run: dotnet test net10.0/*.Tests.dll --logger trx --verbosity detailed --results-directory "${{ matrix.os }}/TestResults" ${{ (github.event_name == 'workflow_dispatch' && inputs.generate_assets) == true && '--settings net10.0/SaveOutputInGeneratedFolder.runsettings' || '' }}
      - name: Upload test results
        if: success() || failure()
        uses: actions/upload-artifact@main
        with:
          name: Test results (${{ matrix.os }})
          path: ./**/*.trx
          if-no-files-found: error
          retention-days: 1
      - name: Upload generated assets
        if: (success() || failure()) && (github.event_name == 'workflow_dispatch' && inputs.generate_assets) == true
        uses: actions/upload-artifact@main
        with:
          name: Generated assets (${{ matrix.os }})
          path: ./**/Assets/Generated
          if-no-files-found: error
          retention-days: 1
  docker:
    permissions:
      contents: read
    name: Docker (${{ matrix.os }})
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, ubuntu-latest]
    runs-on: ${{ matrix.os }}
    if: success() && (github.event_name != 'workflow_dispatch' && true || inputs.run_docker) == true
    steps:
      - name: Checkout
        uses: actions/checkout@main
        with:
          fetch-depth: 0
          sparse-checkout: |
            src/PDFtoImage
            src/FrameworkTests/AotConsole
            src/Tests/Assets/SocialPreview.pdf
      - name: console (alpine)
        if: runner.os == 'Linux' && (success() || failure())
        run: docker buildx build -t console -f src/FrameworkTests/AotConsole/Dockerfiles/alpine.dockerfile . && docker run --rm -t console
      - name: console (alpine-aot)
        if: runner.os == 'Linux' && (success() || failure())
        run: docker buildx build -t console -f src/FrameworkTests/AotConsole/Dockerfiles/alpine-aot.dockerfile . && docker run --rm -t console
      - name: console (ubuntu)
        if: runner.os == 'Linux' && (success() || failure())
        run: docker buildx build -t console -f src/FrameworkTests/AotConsole/Dockerfiles/ubuntu.dockerfile . && docker run --rm -t console
      - name: console (ubuntu-chiseled)
        if: runner.os == 'Linux' && (success() || failure())
        run: docker buildx build -t console -f src/FrameworkTests/AotConsole/Dockerfiles/ubuntu-chiseled.dockerfile . && docker run --rm  -t console
      - name: console (ubuntu-aot)
        if: runner.os == 'Linux' && (success() || failure())
        run: docker buildx build -t console -f src/FrameworkTests/AotConsole/Dockerfiles/ubuntu-aot.dockerfile . && docker run --rm  -t console
      - name: console (ubuntu-chiseled-aot)
        if: runner.os == 'Linux' && (success() || failure())
        run: docker buildx build -t console -f src/FrameworkTests/AotConsole/Dockerfiles/ubuntu-chiseled-aot.dockerfile . && docker run --rm  -t console
      - name: console (windows-servercore)
        if: runner.os == 'Windows' && (success() || failure())
        run: docker build -t console -f src\FrameworkTests\AotConsole\Dockerfiles\windows-servercore.dockerfile . && docker run --rm -t console
  publish-test-results:
    name: Publish tests results
    needs: [test, docker]
    runs-on: ubuntu-latest
    permissions:
      checks: write
      pull-requests: write
    concurrency:
      group: "publish-test-results"
      cancel-in-progress: false
    if: (success() || failure()) && (github.event_name != 'workflow_dispatch' && true || inputs.publish_testresults) == true
    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@main
        with:
          pattern: Test results (*)
          merge-multiple: true
          path: artifacts
      - name: Publish test results
        uses: EnricoMi/publish-unit-test-result-action@master
        with:
          files: artifacts/**/*.trx
          check_name: Test results
          compare_to_earlier_commit: false
          action_fail_on_inconclusive: true
          json_file: test-results.json
      - name: Upload test results to GitHub Gist
        if: github.repository == 'sungaila/PDFtoImage' && github.ref == 'refs/heads/master' && success()
        uses: exuanbo/actions-deploy-gist@main
        with:
          token: ${{ secrets.GIST_TOKEN }}
          gist_id: 003e8ab2211221897e4b3c0e564ed7b6
          gist_description: ${{ github.repository }} test results as JSON
          gist_file_name: ${{ github.repository_owner }}_${{ github.event.repository.name }}_test-results.json
          file_path: test-results.json
          file_type: text
  sonarcloud:
    name: SonarCloud
    runs-on: windows-latest
    if: (github.event_name != 'workflow_dispatch' || inputs.run_sonarcloud) == true
    steps:
      - name: Checkout
        uses: actions/checkout@main
        with:
          fetch-depth: 0
      - name: Setup .NET
        uses: actions/setup-dotnet@main
        with:
          dotnet-version: |
            8.x
            9.x
            10.x
          dotnet-quality: 'preview'
      - name: Setup .NET workload maui-android
        run: dotnet workload install maui-android
      - name: Setup .NET workload maui-ios
        run: dotnet workload install maui-ios
      - name: Setup .NET workload maui-maccatalyst
        run: dotnet workload install maui-maccatalyst
      - name: Setup dotnet-coverage
        run: dotnet tool install --global dotnet-coverage
      - name: Setup JDK 17
        uses: actions/setup-java@main
        with:
          java-version: 17
          java-package: jdk
          distribution: 'zulu'
      - name: Cache SonarCloud packages
        uses: actions/cache@main
        with:
          path: ~\sonar\cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar
      - name: Cache SonarCloud scanner
        id: cache-sonar-scanner
        uses: actions/cache@main
        with:
          path: .\.sonar\scanner
          key: ${{ runner.os }}-sonar-scanner
          restore-keys: ${{ runner.os }}-sonar-scanner
      - name: Install SonarCloud scanner
        if: steps.cache-sonar-scanner.outputs.cache-hit != 'true'
        shell: powershell
        run: |
          New-Item -Path .\.sonar\scanner -ItemType Directory
          dotnet tool update dotnet-sonarscanner --tool-path .\.sonar\scanner
      - name: Analyze
        if: ${{ env.SONAR_TOKEN != '' }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        shell: powershell
        run: |
          .\.sonar\scanner\dotnet-sonarscanner begin /k:"sungaila_PDFtoImage" /o:"sungaila" /d:sonar.token="${{ secrets.SONAR_TOKEN }}" /d:sonar.host.url="https://sonarcloud.io" /d:sonar.cs.vscoveragexml.reportsPaths=coverage.xml
          dotnet build src/PDFtoImage.SonarCloud.slnf -c ${{ github.event_name != 'workflow_dispatch' && 'Debug' || inputs.build_configuration }}
          dotnet-coverage collect "dotnet test src/PDFtoImage.SonarCloud.slnf --verbosity detailed" -f xml -o "coverage.xml"
          .\.sonar\scanner\dotnet-sonarscanner end /d:sonar.token="${{ secrets.SONAR_TOKEN }}"
